.LoginTabLogo {
    width: 6%;
    height: 92%;
    background-color: rgba(0,0,0,0);
    border: 1;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 0.4vw; */
}

.LoginTabLogoImg {
    background-image: url('../../assets/logo.png');
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.LoginLogoText {
    font-size: calc(0.6vw + 0.6vh);
    color: rgba(183,176,41,0.9);
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 3px rgba(166, 9, 9, 0.8);
}

.LoginTabBtn {
    width: 7%;
    height: 100%;
    font-size: calc(0.86vw + 0.86vh);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    background-color: rgba(0,0,0,0);
    border: 1;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    justify-content: center;
    align-items: center;
    color: rgba(183,176,41,0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.LoginTabBtn:hover {
    cursor: pointer;
    color: rgba(234,219,68,1);
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 0 10px 5px rgba(216,200,3,0.9);
}

.TextLoginTabBtn {
    margin-top: 0.2vh;
}

.AllLoginWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/transport.jpg');
    background-size: cover;
    /* overflow-x: hidden; */
}

.FormLoginCointainer {
    margin-top: 4.8vh;
    height: 40vh;
    width: 19vw;
    background-color: rgba(209, 228, 15, 0.4);
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.8);
}

.LabelText {
    text-align: center;
    margin-bottom: 4vh;
    font-size: calc(0.92vh + 0.92vw);
    font-weight: bold;
    color: #3B1203;
    text-shadow: 2px 2px 5px rgba(161, 15, 15, 0.8);
}

.Label {
    margin-top: 2vh;
    color: #522115;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 50, 0.3);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.BoxWrapper {
    border: 1px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 100px;
    width: 100%;
    height: 3.72vh;
    margin-top: 0.6vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px 10px rgba(226, 112, 11, 0.1);
}

.BoxWrapper:focus-within {
    box-shadow: 0 0 6px 9px rgba(226, 113, 1, 0.5);
    /* Bóng khi focus vào input con */
    border: 1px;
    border-color: rgba(226, 113, 1, 0.5);
    border-style: solid;
}

.Error {
    border: 1px;
    border-color: #F10000;
    border-style: solid;
}

.Icon {
    margin-top: 0.24vh;
    margin-bottom: 1px;
    margin-right: 0.1vw;
    padding: 0.7vh;
    padding-left: 0.7vw;
    padding-right: 0.6vw;
    border: 1px;
    border-color: #C9C7C5;
    border-style: none solid none none;
}

.Input {
    border: 0;
    width: 16vw;
    position: absolute;
    height: 2vh;
    font-size: calc(0.60vw + 0.60vh);
    margin-top: 0.4vw;
    margin-left: 0.24vh;   
    background-color: rgba(209, 228, 15, 0);
}

.Input::placeholder {
    color: #5F6651;
}

.Input:focus {
    outline: 0;
}

.InputPass {
    border: 0;
    width: 13.6vw;
    position: absolute;
    height: 2vh;
    font-size: calc(0.60vw + 0.60vh);
    margin-top: 0.4vw;
    margin-left: 0.24vh;
    background-color: rgba(209, 228, 15, 0);
}

.InputPass::placeholder {
    color: #5F6651;
}

.InputPass:focus {
    outline: 0;
}

.EyeBtn {
    position: absolute;
    right: 0.5vw;
    top: 0.5vh;
    height: 3vh;
    width: 1.9vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    font-size: calc(0.64vh + 0.64vw);
}

.EyeBtn:hover {
    cursor: pointer;
}

.ForgotPasswordWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
}

.ForgotPasswordBtn {
    border: none;
    align-self: center;
    justify-self: center;
    background-color: rgba(0,0,0,0);
    color:#3B1203;
    font-weight: 550;
    font-size: calc(0.565vw + 0.565vh);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.24);
    text-decoration: none;
}

.ForgotPasswordBtn:hover {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(228, 69, 7, 0.8);
}

.LoginBtn {
    display: flex;
    height: 3.8vh;
    width: 10vw;
    background-color: rgba(178, 34, 34, 0.8);
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: calc(0.64vw + 0.64vh);
    color: yellow;
    margin-top: 6vh;
    margin-left: 4.5vw;
    align-items: center;
    justify-content: center;
}

.LoginBtn:hover {
    cursor: pointer;
    background-color: rgba(161, 15, 15, 0.9);
    color: #FFF271;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3);
}

.ErrorMessage {
    color: #C80900;
    margin-top: 0.48vh;
    font-weight: 650;
    font-size: calc(0.52vw + 0.52vh);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    /* box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3); */
}

.footer {
    width: 100vw;
    height: 10vh;
    background-color: red;
    color: green;
    z-index: 100000000;
}
