.tradingPointId {
    height: 90%;
    width: 7vw;
    align-items: center; 
    justify-content: center; 
    display: flex;
    text-align: center;
}

.tradingPointChief {
    height: 90%;
    width: 16vw;
    align-items: center; 
    justify-content: center; 
    display: flex;
    text-align: center;
    /* background-color: yellow; */
}

.tradingPointStaffNumber {
    height: 90%;
    width: 16vw;
    align-items: center; 
    justify-content: center; 
    display: flex;
    text-align: center;
    /* background-color: red; */
}

.tradingPointAddress {
    height: 90%;
    width: 24vw;
    align-items: center; 
    justify-content: center; 
    display: flex;
    text-align: center;
    /* background-color: green; */
}

.tpTradingPointId {
    height: 80%;
    width: calc(7vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tpTradingPointChief {
    height: 80%;
    width: calc(16vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
    /* background-color: yellow; */
}

.tpTradingPointNumberStaff {
    height: 80%;
    width: calc(16vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tpTradingPointAddress {
    height: 80%;
    width: calc(35vw + 0.4vw);
    display: flex;
    padding-left: 2vw;
    justify-content: flex-start;
    align-items: center;
}


.realTradingPointId {
    height: 80%;
    width: calc(5vw);
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-width: 1px;
    border-style: solid; */
}

.realTradingPointChief {
    height: 80%;
    width: calc(14vw);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    
    /* border-width: 1px;
    border-style: solid; */
}

.realTradingPointStaffNumber {
    height: 80%;
    width: calc(14vw);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    
    /* border-width: 1px;
    border-style: solid; */
}

.realTradingPointGathering {
    height: 80%;
    width: calc(24vw);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: green; */
    
    /* border-width: 1px;
    border-style: solid; */
}

.realTradingPointAddress {
    height: 80%;
    width: calc(16vw);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    
    /* border-width: 1px;
    border-style: solid; */
}

.tableRealTradingPointId {
    height: 80%;
    width: calc(4vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tableRealTradingPointChief {
    height: 80%;
    width: calc(14vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tableRealTradingPointStaff {
    height: 80%;
    width: calc(14vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tableRealTradingPointGathering {
    height: 80%;
    width: calc(24vw - 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4);
}

.tableRealTradingPointAddress {
    height: 80%;
    width: calc(28vw - 1px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1vw;
    /* border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgba(213, 230, 241, 0.4); */
}

.tradingPointText {
    font-size: calc(0.64vw + 0.64vh);
}



