.BackToLoginBtn {
    display: flex;
    height: 3.8vh;
    width: 11vw;
    background-color: rgba(178, 34, 34, 0.8);
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: calc(0.64vw + 0.64vh);
    color: yellow;
    margin-top: 4vh;
    margin-left: 4vw;
    align-items: center;
    justify-content: center;
}

.BackToLoginBtn:hover {
    cursor: pointer;
    background-color: rgba(161, 15, 15, 0.9);
    color: #FFF271;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3);
}

.TextFGPSuccess {
    font-size: calc(0.6vw + 0.6vh);
    font-weight: 600;
    color: rgba(71, 9, 9, 0.9);
    text-align: justify;
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5);
}

.EmailFGPSuccess {
    font-size: calc(0.64vw + 0.64vh);
    font-weight: bold;
    color: rgba(36, 4, 4, 0.9);
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
