.AllWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/transport.jpg');
    background-size: cover;
}

.FormCointainer {
    height: 40vh;
    width: 19vw;
    background-color: rgba(209, 228, 15, 0.4);
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.8);
}

.Label {
    margin-top: 2vh;
    color: #5C0905;
    font-weight: bold;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}

.BoxWrapper {
    border: 1px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 100px;
    width: 100%;
    height: 3.72vh;
    margin-top: 0.6vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px 10px rgba(226, 112, 11, 0.1);
}

.BoxWrapper:focus-within {
    box-shadow: 0 0 8px 12px rgba(226, 113, 1, 0.5);
    /* Bóng khi focus vào input con */
    border: 1px;
    border-color: rgba(226, 113, 1, 0.5);
    border-style: solid;
}

.Error {
    border: 1px;
    border-color: #F10000;
    border-style: solid;
}

.Icon {
    margin-top: 0.24vh;
    margin-bottom: 1px;
    margin-right: 0.1vw;
    padding: 8px;
    padding-left: 0.7vw;
    padding-right: 0.6vw;
    border: 1px;
    border-color: #C9C7C5;
    border-style: none solid none none;
}

.Input {
    border: 0;
    width: 16vw;
    position: absolute;
    height: 20px;
    font-size: calc(0.282vw + 0.282vh + 10px);
    margin-top: 8px;
    margin-left: 3px;
    background-color: rgba(209, 228, 15, 0);
}

.Input::placeholder {
    color: #5F6651;
}

.Input:focus {
    outline: 0;
}

.InputPass {
    border: 0;
    width: 13.6vw;
    position: absolute;
    height: 20px;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 3px;
    background-color: rgba(209, 228, 15, 0);
}

.InputPass::placeholder {
    color: #5F6651;
}

.InputPass:focus {
    outline: 0;
}

.EyeBtn {
    position: absolute;
    right: 0.5vw;
    top: 0.5vh;
    height: 3vh;
    width: 1.9vw;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    font-size: calc(0.64vh + 0.64vw);
}

.EyeBtn:hover {
    cursor: pointer;
}

.LoginBtn {
    display: flex;
    height: 3.8vh;
    width: 10vw;
    background-color: rgba(178, 34, 34, 0.8);
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    color: yellow;
    margin-top: 6vh;
    margin-left: 4.5vw;
    align-items: center;
    justify-content: center;
}

.LoginBtn:hover {
    cursor: pointer;
    background-color: rgba(161, 15, 15, 0.9);
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3);
}

.ErrorMessage {
    color: #C80900;
    margin-top: 0.48vh;
    font-weight: 650;
    font-size: calc(0.52vw + 0.52vh);
    /* box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3); */
}