.GWrapper {
    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.GWrapper::-webkit-scrollbar {
    width: 0px;
}

.GWrapper::-webkit-scrollbar-thumb {
    background-color: #888888;
}

.GWrapper::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: green;
}

.GWrapper::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}