.ForgotPasswordTabLogo {
    width: 6%;
    height: 92%;
    background-color: rgba(0,0,0,0);
    border: 1;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ForgotPasswordTabLogoImg {
    background-image: url('../../assets/logo.png');
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ForgotPasswordLogoText {
    font-size: calc(0.6vw + 0.6vh);
    color: rgba(183,176,41,0.9);
    font-family: 'Pacifico', cursive;
    text-shadow: 1px 1px 3px rgba(166, 9, 9, 0.8);
}

.ForgotPasswordTabBtn {
    width: 7%;
    height: 100%;
    font-size: calc(0.86vw + 0.86vh);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    background-color: rgba(0,0,0,0);
    border: 1;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    justify-content: center;
    align-items: center;
    color: rgba(183,176,41,0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.ForgotPasswordTabBtn:hover {
    cursor: pointer;
    color: rgba(234,219,68,1);
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 0 10px 5px rgba(216,200,3,0.9);;
}

.TextForgotPasswordTabBtn {
    margin-top: 0.2vh;
}

.ForgotPasswordTabBtnEnd {
    margin-right: 0.24vw;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 7%;
    height: 100%;
    font-size: calc(0.86vw + 0.86vh);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    background-color: rgba(0,0,0,0);
    border: 1;
    border-color: rgba(0,0,0,0);
    border-style: solid;
    justify-content: center;
    align-items: center;
    color: rgba(183,176,41,0.9);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.ForgotPasswordTabBtnEnd:hover {
    cursor: pointer;
    color: rgba(234,219,68,1);
    /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.8); */
    box-shadow: 0 0 10px 5px rgba(216,200,3,0.9);;
}

.AllFGPWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/transport.jpg');
    background-size: cover;
}

.FormFGPContainer {
    margin-top: 4.8vh;
    height: 40vh;
    width: 19vw;
    background-color: rgba(209, 228, 15, 0.4);
    padding: 5vh;
    border-radius: 10px;
    box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.8);
}

.LabelFGP {
    margin-top: 2vh;
    margin-bottom: 1.2vh;
    color: #522115;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(255, 255, 50, 0.3);
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    font-size: calc(0.62vw + 0.62vh);
}

.BoxFGPWrapper {
    border: 1px;
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-radius: 100px;
    width: 100%;
    height: 3.72vh;
    margin-top: 0.6vh;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 20px 10px rgba(226, 112, 11, 0.1);
}

.BoxFGPWrapper:focus-within {
    box-shadow: 0 0 6px 9px rgba(226, 113, 1, 0.5);
    /* Bóng khi focus vào input con */
    border: 1px;
    border-color: rgba(226, 113, 1, 0.5);
    border-style: solid;
}

.IconFGP {
    margin-top: 0.24vh;
    margin-bottom: 1px;
    margin-right: 0.1vw;
    padding: 0.7vh;
    padding-left: 0.7vw;
    padding-right: 0.6vw;
    border: 1px;
    border-color: #C9C7C5;
    border-style: none solid none none;
}

.InputFGP {
    border: 0;
    width: 16vw;
    position: absolute;
    height: 2vh;
    font-size: calc(0.60vw + 0.60vh);
    margin-top: 0.4vw;
    margin-left: 0.24vh;   
    background-color: rgba(209, 228, 15, 0);
}

.InputFGP::placeholder {
    color: #5F6651;
}

.InputFGP:focus {
    outline: 0;
}

.ErrorFGP {
    border: 1px;
    border-color: #F10000;
    border-style: solid;
}


.ResetPasswordBtn {
    display: flex;
    height: 3.8vh;
    width: 11vw;
    background-color: rgba(178, 34, 34, 0.8);
    border: 0;
    border-radius: 20px;
    font-weight: bold;
    font-size: calc(0.64vw + 0.64vh);
    color: yellow;
    margin-top: 4vh;
    margin-left: 4vw;
    align-items: center;
    justify-content: center;
}

.ResetPasswordBtn:hover {
    cursor: pointer;
    background-color: rgba(161, 15, 15, 0.9);
    color: #FFF271;
    box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.3);
}
